# binaries
arena
arena_test
arena_test_cov
pbrain-*

# view
.env
data/
dist/
node_modules/
view/client/test-results/
view/client/playwright-report/

# other
bots/
build/
coverage/

# objects
*.o
*.d
*.gcda
*.gcno
*.pyc
*.log
